<% content_for :title do %>Checkout - billing details<% end %>
<section>
    <h1>Billing detail</h1>
    <form method="POST" action="/store/checkout/billing" id="formCheckoutBilling">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="row">
            <div class="col-sm-4"><%= label_tag(:creditCardHolder, "Credit Card Name") %></div>
            <div class="col-sm-4"><%= text_field_tag(:creditCardHolder) %></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><%= label_tag(:creditCardAddress, "CC Address") %></div>
            <div class="col-sm-4"><%= text_field_tag(:creditCardAddress) %></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><%= label_tag(:creditCardNo, "Credit Card No") %></div>
            <div class="col-sm-4"><%= text_field_tag(:creditCardNo) %></div>
        </div>
        <div class="row">
            <div class="col-sm-8"><input type="submit" name="btnAction" value="Back" id="btnBack"/><input type="submit" name="btnAction" value="Order" id="btnOrder"/></div>
        </div>
    </form>
</section>

